<!-- Mostrar la página de inicio de sesión si el usuario no está logueado -->
@if(!isLoggedIn){
<app-login></app-login>
}

<!-- Mostrar la interfaz de usuario si el usuario está logueado -->
@if (isLoggedIn) {
<div style="border-right: 2px;border-color: aqua;" class="back-grey d-flex flex-column wrapper">
  <!-- Header con botón de cierre de sesión -->
  <header class="header">
    <div class="position-absolute end-0 p-4">
      <a href="#" (click)="logout()">
        <mat-icon style="color: white;">logout</mat-icon>
      </a>
    </div>
  </header>

  <main class="row contenido">

    <!-- Menú lateral -->
    <div class="bg-light lateral">
      <div>

        <div class="user">

          <div class="username">
            <h6>{{ name.charAt(0).toUpperCase() +name.slice(1).toLowerCase()+" "+ last_name.charAt(0).toUpperCase()
              +last_name.slice(1).toLowerCase()}}</h6>
          </div>
          <span class="separator">|</span>

        </div>
        <div class="d-flex flex-column menu">
          <!-- Navegación -->

          <a class="nav-item" routerLink="/edit-user" routerLinkActive="active"> 
            <mat-icon style="font-size: 45px;padding: 30px;" class="icon-menu">add</mat-icon> <span style="font-size: 20px;margin-top: 20px;">Archivos</span></a>


        </div>
      </div>
    </div>
    <div class="content-right bg-light">
      <!-- Router outlet para mostrar los componentes -->
      <router-outlet></router-outlet>
    </div>
  </main>
</div>
}